/* ⦁	Alakítsd ki a rácsszerkezetet a mintának megfelelően! (11 sor)

⦁	
⦁	A header átlátszóságát állítsd 0.8-ra.
⦁	A header elembe állíts be a fejlec.jpg állományt  háttérképként!
⦁	
⦁	Igazítsd el a navigációt a mintának megfelelően gridekkel (2 sor)

⦁	Az oldal legyen reszponzív! 700 px alatt a main közvetlen gyerekelemei egymás alatt helyezkedjenek el, az article elem előzze meg az aside elemet!
⦁	Ki hány különbséget talál még a minta és az elkészült mű között? */


* {
    box-sizing: border-box;
    margin: auto;
}

html {
    font-size: 16px;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('kepek/hatter.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Courier New", Courier, monospace;
}

header {
    height: 550px;
    background-image: url('kepek/fejlec.jpg');
    background-color: rgba(51, 51, 51, 0.8);   
    background-repeat: no-repeat;
    color: red; 
    padding: 60px 10px; 
    text-align: center; 
    font-weight: bold; 
    font-family: cursive;
}

aside img {
    width: 100%;
}

main {
    width: 80%;
    max-width: 1000px;
    background-color: rgb(255,255,230);
}

nav {
    padding: 0; 
    margin: 0;
    height: 50px;    
    gap: 10px;
    padding: 10px;
    background-color: #ff0000;
    border-top: white; 
}

nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    justify-content: space-evenly;
    border-top: 2px solid white;
    padding-top: 0.4rem;    
}

nav li {
    list-style-type: none;  
    padding: 5px;   
}

nav a {
    text-decoration: none; 
    color: white; 
    font-weight: bold; 
}

nav li:hover {
    background-color: #4CAF50; 
}

.image {
    outline: 2px solid red;
    outline-offset: 3px;
    width: 15rem;
    overflow: hidden;
    margin-bottom: 1rem;
}

.image-box {
    padding: 1rem;
}

.miki {
    display: block;
    width: 100%;
    height: 100%;
    transform: scale(1.1);
}

.miki3 {
    float: right;
    border-radius: 20px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.493);
    margin: 1rem;
}

.content {
    padding-top: 1rem;
    text-align: justify;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

article {
    text-align: justify; 
    background: rgb(255, 248, 236);
    display: flex;
    gap: 1rem;
}

article p {
    font-size: 15.5px; 
}

article h2 {
    font-size: 22px; 
    color: black; 
    font-family: "Trebuchet MS", Helvetica, sans-serif; 
}

article img {
    float: right; 
    border-radius: 10px; 
    box-shadow: 5px 5px 5px #888888; 
}

footer {
    height: 2rem;
    text-align: center;
    color: white;
    background-color: red;
    padding-top: 0.4rem;
}

@media screen and (max-width: 700px) {
    main {
        display: flex;
        flex-direction: column;
    }

    article {
        order: -1; 
    }
}